In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# load the dataset to a pandas data frame
credit_card_data = pd.read_csv("credit_data.csv")

### Doing some EDA

In [3]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
# Checking for missing Value
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
# Distribution of legit and fraudulent transaction
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

We observe that this data is highly unbalanced

In [8]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class ==0]
fraud = credit_card_data[credit_card_data.Class ==1]

In [9]:
print(legit.shape)
print(fraud.shape)
# Rows and columns

(284315, 31)
(492, 31)

In [10]:
# Statistical Measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
# Compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

- We have to deal with the unbalanced data.

We will use a method called undersampling.

We will build a sample data set containing similar distribution of normal transactions and Fraudeulent Transactions.

Number of Fraudulent transactions = 492

In [13]:
legit_sample = legit.sample(n = 492)

In [14]:
# Now, we will concatenate the two data sets

new_dataset = pd.concat([legit_sample,fraud], axis = 0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
283151,171404.0,2.032448,-0.022721,-1.429822,0.132413,0.351459,-0.541265,0.121327,-0.170956,0.236004,...,0.304590,1.006161,0.027098,0.756044,0.257735,-0.160604,-0.021378,-0.060979,0.89,0
267720,162894.0,2.072067,-2.143241,-0.168950,-1.559681,-1.990768,0.255666,-1.977517,0.129915,-0.255443,...,0.058403,0.456935,0.054095,-1.023558,-0.456256,-0.037503,0.054741,-0.018005,127.00,0
215813,140230.0,1.248771,-2.167569,-1.665954,0.289139,-1.125770,-0.812258,0.254290,-0.391559,-0.366613,...,0.049082,-0.287047,-0.267310,-0.066221,-0.216698,0.416832,-0.122520,0.019422,476.87,0
34992,37910.0,-2.045130,1.891315,0.779668,1.441848,0.403393,-0.802283,0.897772,-0.167345,-0.728676,...,-0.075908,-0.629420,-0.129631,0.217417,-0.284925,-0.521147,-1.355123,0.063447,22.71,0
178209,123525.0,-1.321099,0.714930,0.754395,-0.414164,0.889969,-0.385338,0.452243,0.470989,-0.864036,...,-0.093934,-0.560757,-0.300137,0.764564,0.690732,-0.394778,-0.091014,-0.093433,7.18,0

In [16]:
# We can see that now, we have equal amount of examples for both categories
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [17]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94457.650407,0.008809,0.030689,0.092191,0.024614,0.023110,-0.028606,-0.053608,0.057764,0.041196,...,-0.054047,0.008648,-0.003925,-0.020677,0.024549,-0.033109,0.005262,0.006255,0.008307,70.919248
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Above, we have checked the mean values. It is simailr to the original dataset. It means that it was a good sample

In [18]:
# Next we split the data into features and target
X = new_dataset.drop(columns= 'Class', axis = 1)
Y = new_dataset['Class']

In [19]:
# Next we split the data into training data and testing data

X_train,X_test,Y_train, Y_test = train_test_split(X,Y,test_size = 0.2, stratify = Y, random_state = 2)

In [20]:
print (X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

## Now we move to Training the Model

In [21]:
model = LogisticRegression()

In [22]:
# training the logistic Regression Model 
model.fit(X_train, Y_train)

LogisticRegression()

### Model Evaluation

In [23]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [24]:
print("Accuracy on training data: ", training_data_accuracy)

Accuracy on training data:  0.9415501905972046

In [25]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [26]:
print ("Accuracy score on test data:", test_data_accuracy)

Accuracy score on test data: 0.9390862944162437

Next Steps: Convert it into a Streamlit App

Saving the etrained model

In [27]:
import pickle

In [28]:
filename = 'trained_model.sav'
pickle.dump(model, open(filename,'wb'))

In [29]:
#loading the saved model
loaded_model = pickle.load(open('trained_model.sav','rb'))

In [38]:
input_data = (94457, 0.008809,	0.030689,	0.092191,	0.024614,	0.023110,	
              -0.028606,	-0.053608,	0.057764,	0.041196, -0.054047,
              0.008648,-0.003925,-0.020677,0.02454,-0.033109,	
              0.005262,	0.006255,	0.008307, -0.028606,	-0.053608,
                  	0.057764,	0.041196, -0.054047, 0.030689,	0.092191,
                        	0.024614,	0.023110,	-0.028606, 82.15)
input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped= input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

print(prediction)

if (prediction[0] ==[0]):
    print('The transaction is not fraudeulent')
else:
    print("the transaction is fraudulent")

[0]
The transaction is not fraudeulent

C:\Users\ASUS\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [39]:
input_data = (94457, 0.008809,	0.030689,	0.092191,	0.024614,	0.023110,	
              -0.028606,	-0.053608,	0.057764,	0.041196, -0.054047,
              0.008648,-0.003925,-0.020677,0.02454,-0.033109,	
              0.005262,	0.006255,	0.008307, -0.028606,	-0.053608,
                  	0.057764,	0.041196, -0.054047, 0.030689,	0.092191,
                        	0.024614,	0.023110,	-0.028606, 82.15)
input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped= input_data_as_numpy_array.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)

print(prediction)

if (prediction[0] ==[0]):
    print('The transaction is not fraudeulent')
else:
    print("the transaction is fraudulent")

[0]
The transaction is not fraudeulent

C:\Users\ASUS\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(